.content {
  &-page {
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    &__name {
      font-size: 34px;
      font-weight: 700;
      line-height: 51px;
      color: #22343d;
    }
    &__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      color: #22343d;
    }
  }
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  &-cart {
    border-radius: 8px;
    box-shadow: 3px 3px 15px -5px rgba(0, 0, 0, 0.429);
    &:hover{
        transform: scale(1.04);
        transition: 0.5s;
        box-shadow: 3px 3px 15px -5px rgba(19, 131, 244, 0.913);
    }
    &__img{
        width: 100%;
        border-radius: 8px;
    }
    &__box {
      padding: 15px;
      
    }
    &__page {
      font-size: 16px;
      font-weight: 700;
      line-height: 28px;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: #22343d;
    }
    &__name {
        max-width: 294px;
      font-size: 24px;
      font-weight: 700;
      line-height: 40px;
      color: #22343d;
      &:hover{
        transition: 0.5s;
        color: #02897A;
      }
    }
  }
}
